.spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2F6133;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(closest-side at calc(100%/6) 50%,#d79615 90%,#e77a0d00) 0/75% 100%;
    position: relative;
    animation: l15-0 1s infinite linear;
  }
  .loader::before {
    content:"";
    position: absolute;
    background: inherit;
    clip-path: inset(0 0 0 50%);
    inset: 0;
    animation: l15-1 0.5s infinite linear;
  }
  @keyframes l15-0 { 
      0%,49.99% {transform: scale(1)}
      50%,100%  {transform: scale(-1)} 
  }
  @keyframes l15-1 { 
      0%       {transform: translateX(-37.5%) rotate(0turn)} 
      80%,100% {transform: translateX(-37.5%) rotate(1turn)} 
  }